# **Country last checkpoint**

### **Questions:**

    1. Which country has the highest populetion
    2. What is the capital of the country with higest populetion
    3. Which country has the last populetion
    4. What is the capital of the country with last populetion
    5. Give me top 5 countries with highest democratic score
    6. How many total region are there
    7. How many countries lie in Eastern Europe region
    8. Who is the political leader of the 2nd highest populeted country
    9. How many countries are there whoes plitical leaders are unknown
    10. How many country have Republic in their full name
    11. Which country in african region has highest populetion

### **Answers**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Countries.csv")
df.head(3)

,country,country_long,currency,capital_city,region,continent,demonym,latitude,longitude,agricultural_land,...,population,women_parliament_seats_pct,rural_population,urban_population,press,democracy_score,democracy_type,median_age,political_leader,title
0,Afghanistan,Islamic State of Afghanistan,Afghan afghani,Kabul,Southern Asia,Asia,Afghan,33.0,65.0,383560.0,...,41128771,27.01610,30181937,10946834,2.14,2.97,Authoritarian,12.9,Ashraf Ghani,President
1,Albania,Republic of Albania,Albanian lek,Tirana,Southern Europe,Europe,Albanian,41.0,20.0,11655.5,...,2775634,35.71430,1004807,1770827,2.62,5.98,Hybrid regime,33.7,Edi Rama,Prime Minister
2,Algeria,People's Democratic Republic of Algeria,Algerian dinar,Algiers,Northern Africa,Africa,Algerian,28.0,3.0,413588.0,...,44903225,8.10811,11328186,33575039,1.71,3.50,Authoritarian,24.0,Abdelmadjid Tebboune,President

In [3]:
df.shape

(194, 64)

In [4]:
df.describe()

,latitude,longitude,agricultural_land,forest_area,land_area,rural_land,urban_land,central_government_debt_pct_gdp,expense_pct_gdp,gdp,...,net_migration,population_female,population_male,population,women_parliament_seats_pct,rural_population,urban_population,press,democracy_score,median_age
count,194.000000,194.000000,1.930000e+02,1.940000e+02,1.940000e+02,1.940000e+02,194.000000,120.000000,156.000000,1.930000e+02,...,194.000000,1.940000e+02,1.940000e+02,1.940000e+02,193.000000,1.940000e+02,1.940000e+02,194.000000,194.000000,194.000000
mean,18.975601,22.027491,2.454551e+05,2.086784e+05,6.675087e+05,6.563711e+05,9777.116531,66.759366,30.051403,5.144851e+11,...,-51.407216,2.028316e+07,2.050572e+07,4.078888e+07,25.022994,1.763322e+07,2.315566e+07,2.539330,4.644536,25.661856
std,23.876225,66.396389,6.356268e+05,7.824926e+05,1.837107e+06,1.811169e+06,42301.458421,71.806247,26.740880,2.307148e+12,...,94525.968598,7.258941e+07,7.607158e+07,1.486470e+08,12.671044,7.664187e+07,7.940393e+07,1.800128,2.818297,9.415569
min,-41.000000,-175.000000,4.000000e+00,0.000000e+00,2.027000e+00,3.495450e-02,0.000000,0.000000,0.000267,6.034940e+07,...,-525116.000000,5.513000e+03,5.799000e+03,1.131200e+04,0.000000,0.000000e+00,5.717000e+03,0.000000,0.000000,10.500000
25%,4.000000,-5.000000,6.464000e+03,3.331775e+03,2.355250e+04,2.186562e+04,359.618250,31.951300,18.371875,1.181390e+10,...,-12242.250000,1.036218e+06,1.044902e+06,2.106358e+06,15.384600,5.896640e+05,1.222244e+06,1.525000,2.722500,16.950000
50%,16.583333,21.500000,3.872780e+04,2.528925e+04,1.203750e+05,1.159945e+05,1645.170000,55.426850,27.337750,4.115390e+10,...,-970.000000,4.502713e+06,4.450049e+06,9.125614e+06,25.252500,2.512382e+06,4.508837e+06,2.400000,5.050000,24.950000
75%,40.000000,50.162500,2.150000e+05,1.236735e+05,5.237000e+05,4.911505e+05,4054.022500,79.539300,35.083500,2.519450e+11,...,2904.250000,1.526606e+07,1.478872e+07,3.031361e+07,33.636400,1.133354e+07,1.621355e+07,2.925000,6.967500,34.050000
max,65.000000,178.000000,5.285080e+06,8.153120e+06,1.637690e+07,1.622420e+07,522345.000000,687.994000,310.443000,2.546270e+13,...,561580.000000,6.915285e+08,7.311805e+08,1.417173e+09,61.250000,9.088048e+08,8.975784e+08,10.000000,9.870000,50.500000

##### **1. Which country has the highest populetion**

In [5]:
print(f"Highest populetion: { df["population"].max() }\n")

find_country = df[df["population"] == df["population"].max()]["country"]
print(find_country)

Highest populetion: 1417173173

75    India
Name: country, dtype: object

##### **2. What is the capital of the country with higest populetion**

In [6]:
capital_city = df[df["population"] == df["population"].max()]["capital_city"]
print(capital_city)

75    New Delhi
Name: capital_city, dtype: object

##### **3. Which country has the least populetion**

In [7]:
least_populetion = df[ df["population"] == df["population"].min()]["country"]
print(least_populetion)

179    Tuvalu
Name: country, dtype: object

##### **4. What is the capital of the country with last populetion**

In [8]:
capital_city = df[df["population"] == df["population"].min()]["capital_city"]
print(capital_city)

179    Funafuti
Name: capital_city, dtype: object

##### **5. Give me top 5 countries with highest democratic score**

In [9]:
df.sort_values("democracy_score", ascending=False)[["country", "democracy_score"]].head()

         country  democracy_score
127       Norway             9.87
74       Iceland             9.58
164       Sweden             9.39
122  New Zealand             9.26
46       Denmark             9.22

##### **6. How many total region are there**

In [10]:
count = df["region"].value_counts().count()
print(f"total region: {count}")

total region: 22

##### **7. How many countries lie in Eastern Europe region**

In [11]:
x = df["region"].value_counts()["Eastern Europe"]
print(x)

10

In [12]:
x = df[df["region"] == "Eastern Europe"]["country"]
print(x)

14             Belarus
24            Bulgaria
43      Czech Republic
73             Hungary
111            Moldova
136             Poland
139            Romania
140             Russia
151    Slovak Republic
181            Ukraine
Name: country, dtype: object

##### **8. Who is the political leader of the 2nd highest populeted country**

In [13]:
# political_leader
df[df["population"] == df["population"].nlargest(2).iloc[1]]["political_leader"]

34    Xi Jinping
Name: political_leader, dtype: object

##### **9. How many countries are there whoes plitical leaders are unknown**

In [14]:
df[df["political_leader"].isna()]["country"]

27                         Cabo Verde
151                   Slovak Republic
159               St. Kitts and Nevis
160                         St. Lucia
161    St. Vincent and the Grenadines
172                       Timor-Leste
190                West Bank and Gaza
Name: country, dtype: object

In [15]:
Total_country = df[df["political_leader"].isna()]["country"].count()
print(f"Total: {Total_country} country")

Total: 7 country

##### **10. How many country have Republic in their full name**

In [16]:
df.head()

,country,country_long,currency,capital_city,region,continent,demonym,latitude,longitude,agricultural_land,...,population,women_parliament_seats_pct,rural_population,urban_population,press,democracy_score,democracy_type,median_age,political_leader,title
0,Afghanistan,Islamic State of Afghanistan,Afghan afghani,Kabul,Southern Asia,Asia,Afghan,33.0,65.0,383560.0,...,41128771,27.01610,30181937,10946834,2.14,2.97,Authoritarian,12.9,Ashraf Ghani,President
1,Albania,Republic of Albania,Albanian lek,Tirana,Southern Europe,Europe,Albanian,41.0,20.0,11655.5,...,2775634,35.71430,1004807,1770827,2.62,5.98,Hybrid regime,33.7,Edi Rama,Prime Minister
2,Algeria,People's Democratic Republic of Algeria,Algerian dinar,Algiers,Northern Africa,Africa,Algerian,28.0,3.0,413588.0,...,44903225,8.10811,11328186,33575039,1.71,3.50,Authoritarian,24.0,Abdelmadjid Tebboune,President
3,Andorra,Principality of Andorra,Euro,Andorra la Vella,Southern Europe,Europe,Andorran,42.5,1.5,187.2,...,79824,46.42860,9730,70094,3.17,0.00,Unknown,38.9,Xavier Espot Zamora,Head of Government
4,Angola,People's Republic of Angola,Angolan kwanza,Luanda,Middle Africa,Africa,Angolan,-12.5,18.5,569525.0,...,35588987,33.63640,11359649,24229338,2.24,3.62,Authoritarian,12.4,João Lourenço,President

In [17]:
df["country_long"].head()

0               Islamic State of Afghanistan
1                        Republic of Albania
2    People's Democratic Republic of Algeria
3                    Principality of Andorra
4                People's Republic of Angola
Name: country_long, dtype: object

In [18]:
## 1st method
count = 0
for i in df["country_long"].str.lower():
  if i.count("republic"):
    count+=1
print(count)

125

In [19]:
## 2nd method
countx = 0
def counting(txt):
  global countx
  if "republic" in txt.lower():
    countx += 1
  return txt

df["country_long"] = df["country_long"].apply(counting)
print(countx)

125

In [20]:
## 3rd method
count = df["country_long"].str.lower().str.contains("republic").sum()
print(count)

125

##### **11. Which country in african region has highest populetion**

In [21]:
only_africans = df[df["continent"] == "Africa"]

In [22]:
only_africans[only_africans["population"] == only_africans["population"].max()]

,country,country_long,currency,capital_city,region,continent,demonym,latitude,longitude,agricultural_land,...,population,women_parliament_seats_pct,rural_population,urban_population,press,democracy_score,democracy_type,median_age,political_leader,title
125,Nigeria,Federal Republic of Nigeria,Nigerian naira,Abuja,Western Africa,Africa,Nigerian,10.0,8.0,694500.0,...,218541212,3.61111,101575770,116965442,2.14,4.44,Hybrid regime,13.2,Muhammadu Buhari,President

In [23]:
only_africans[only_africans["population"] == only_africans["population"].max()][["country", "population"]]

     country  population
125  Nigeria   218541212

        ====================== The End ======================